<a href="https://colab.research.google.com/github/karpokate/softconstruct/blob/stage/EDA_IOWA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Authentication with google

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
project_id = 'softconstructtask'

Import packages 
connect ot bigquery client

In [ ]:
from google.cloud import bigquery
import numpy as np
import pandas as pd
import plotnine as pn
import threading
import time

client = bigquery.Client(project = project_id)

## sales by country in liters and dollars

In [ ]:
country_sales_query = """
-- продажи по странам 
select cast(county_number as NUMERIC) as country_code, lower(county) as county,lower(city) as city,
sum(sale_dollars) as sum_sales, sum(volume_sold_liters) as sum_sold_liters
from `bigquery-public-data.iowa_liquor_sales.sales`
group by county_number, county, city
"""

country_sales = client.query(country_sales_query).to_dataframe()

In [ ]:
country_sales[['country_code','county','city']]

    country_code     county              city
0             56        lee        donnellson
1             24   crawford           denison
2              3  allamakee            waukon
3             83     shelby            harlan
4             91     warren         indianola
..           ...        ...               ...
626         None       None         alburnett
627         None       None       carter lake
628           53      jones           wyoming
629           60       lyon            alvord
630         None    el paso  colorado springs

[631 rows x 3 columns]